.sectioncredits {
    width: 100%;
}

.creditcolumn {
    vertical-align: top;
}

.creditbox {
    padding-bottom: 1em;
    padding-right: 1em;
}

.gametitlepageimage {
    width: 350px;
    height: 263px;
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
}

.credittitle {
    font-weight: bolder;
}

img.item-small {
    vertical-align: -0.6ex;
    padding-right: 0.4ex;
}
img.ability-small {
    vertical-align: -2px;
    padding-right: 0.2ex;
}
img.magic-small {
    vertical-align: baseline;
    padding-right: 0.5ex;
}
img.magic-large {
    vertical-align: -0.1ex;
    padding-right: 1ex;
}
.ff7-shops-row img.magic-small {
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 0.4ex;
}

tr.materiahighlight td {
    border: 2px solid #D6AD07;
    font-weight: bold;
}

dt {
    display: list-item;
    font-weight: bold;
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.5em;
}
dd {
    margin-top: 1em;
    margin-bottom: 1em;
}
span.special {
    color: red;
}

.contrib-block, .contrib-main, .contrib-title {
    width: auto;
}

.contrib-block {
    display: table;
    padding-top: 0;
    padding-bottom: 2ex;
    margin: 0;
}

.contrib-splitter {
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    border-bottom: 1px solid;
}

.contrib-post {
}

.darkenemy {
    background: #606060;
    border: 2px outset #606060;
    padding: 5px;
}

.posttablenote {
    padding: 0px 4px;
}

.warning {
    border: 2px solid #A00000;
    padding: 2px;
    font-weight: bolder;
}

.takebacktheweb {
    padding-top: 4px;
}

.bottom .takebacktheweb {
    margin-bottom: -4px !important;
}

.symbol {
    font-family: "Lucida Sans Unicode", "Lucida Sans";
    font-size: 1.2em;
    line-height: 1.0em;
}

/* STATS */

.ttxt { border: 0px; padding: 2px; text-align: left; vertical-align: top; }
.tgr, .tinv { border: 0px; text-align: left; vertical-align: top; }

td.t1, tr.t1, table.t1, div.t1 { text-align: left; font-weight: bold; font-style: italic }
td.t2, tr.t2, table.t2, div.t2 { text-align: left; font-style: normal }
td.t3, tr.t3, table.t3, div.t3 { text-align: right }
td.t4, tr.t4, table.t4, div.t4 { text-align: center }
td.t5, tr.t5, table.t5, div.t5 { text-align: left; font-style: italic }
td.t6, tr.t6, table.t6, div.t6 { font-family: "Tahoma", "Small Fonts", "Arial Narrow", sans-serif; font-size: 7pt !important; font-weight: normal !important; text-align: right; font-style: normal; white-space: nowrap; }

.s1, .s1 td { font-family: "Tahoma", "Small Fonts", "Arial Narrow", sans-serif; font-size: 7pt !important; font-weight: normal !important; vertical-align: bottom; text-align: center  }
.s2, .s2 td { font-family: "Tahoma", "Small Fonts", "Arial Narrow", sans-serif; font-size: 7pt !important; font-weight: normal !important; vertical-align: bottom; text-align: center; border: 0px }
.s3, .s3 td { font-family: "Tahoma", "Small Fonts", "Arial Narrow", sans-serif; font-size: 7pt !important; font-weight: normal !important; vertical-align: bottom; text-align: center }
.s4, .s4 td { text-align: left }
.s5, .s5 td { text-align: left; border:0px }
.toc { font-size: 16px; font-weight: bold; margin: 2px }
.ra { font-size: 32px; text-align: center; border-width: 4px; padding-right: 10px; font-style: normal; }
.rn { font-size: 16px; text-align: left; font-weight: bold; font-style: normal; }
.ad { font-size: 10px; vertical-align: middle; text-align: center }
.am { vertical-align: top }
.cr { border-style: outset; border-width: 2px; font-size: 12px; vertical-align: middle; text-align: left }
.v1 {  }
.v2 {  }
.v3 {  }
.v4 {  }
.v5 {  }
.v6 {  }
.v7 {  }
.v8 {  }

.statsbignums td {
    text-align: left;
}

.t2 .v4 {
    white-space: nowrap;
}

table.compactstats, table.compactstats2 {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

table.compactstats img, table.compactstats2 img {
    border-spacing: 0;
    border: 0;
    padding-left: 0;
    padding-right: 1px;
    margin: 0;
}

table.compactstats .s1, table.compactstats2 .s1, table.compactstats .s2, table.compactstats2 .s2, table.compactstats .tgr, table.compactstats2 .tgr {
    border-spacing: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

.bottomrow .t5 {
    background: transparent !important;
}
/* rash stuff*/
.quote_output{
	padding-bottom: 13pt;
}
/* /rash stuff */

/* rash 2 stuff */
div.quote_pagenums{
	text-align: center;
	font-size: 9pt;
}
div.quote_whole{
	padding-bottom: 13pt;
}
div.admin_queue_alt2{
	background-color: #f0f0f0;
}

/* /rash 2 stuff */